* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.card {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    color: black;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(123, 117, 117);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: blue;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: blue;
}

.logout {
    background-color:  red;
}

.logout:hover {
    background-color: red;
}

p {
    color: grey;
    margin-bottom: 20px;
}